extends layout

append scripts
  script(src="/lib/arbor/arbor.js")

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  h1= title
  p.lead Welcome to #{title}, here we use relations between objects to draw conclusions, analyse patterns and run custom logic on the information provided. The goal is to have the memory as a organic graph, growing and retracting.
  form.form-inline(name="input", action="/relationship", method="post")
    row
      input.span2(type="text", name="Obj", placeholder="Object Name…")
      span1 ->
      input.span2(type="text", name="Rel", placeholder="Relationship…")
      span1 ->
      input.span2(type="text", name="Sub", placeholder="Subject…")
      span1 ...
      input.span2.btn.success(type="submit", value="submit")
