extends layout

block content
  h1= title
  p.lead Welcome to #{title}, here we use relations between objects to draw conclusions, analyse patterns and run custom logic on the saved memory. The goal is to have the memory as a organic graph, growing and retracting.
  form.form-inline(name="input", action="/new", method="post")
    input(type="text", name="Obj", placeholder="Object Name…")
    input(type="text", name="Rel", placeholder="Relationship…")
    input(type="text", name="Sub", placeholder="Subject…")
    input.btn.success(type="submit", value="submit")
  a.btn(href='/conclusion/is_a_category') Is Category