doctype 5
html(lang="en")
  head
    title= title
    meta(name='description', content='A data management system using relationships between entities to store data.')
    meta(name='author', content='Dylan Clement')
    // HTML5 shim, for IE6-8 support of HTML elements
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    block stylesheets
      link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
      //link(rel='stylesheet', href='/stylesheets/style.css')
      != css('style')

  body
    div.container
      div.navbar
        div.navbar-inner
          a.brand(href="/") Home
          a.brand(href="/calculations") Calculations

      block content

      block scripts
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js")
        script(src="/lib/arbor/arbor.js")
        != js('index')

    div.footer
      p.muted &copy; dylan clement 2013
