html { min-height:100%; position:relative }

body {
  padding: 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/brains-bg.png);
  height: 100%;
}

.container {
  background-color: #F8F8F8;
  padding: 10px;
  min-height: 768px;
}

a {
  color: #00B7FF;
}
